* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
    /* Prevent horizontal scroll */
}

.fcfs-container {
    height: 100vh;
    padding: 20px;
    text-align: center;
    background-color: #05071C;
    /* Dark background color */
    color: white;
    /* Text color */
    overflow-y: hidden;
    overflow-x: hidden;
}

.fcfs-title {
    padding-top: 5px;
    font-size: 2em;
    color: #CBACF9;
    text-align: center;
    justify-content: center;
}

.fcfs-description {
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.process-inputs {
    display: flex;
    justify-content: space-between;
    /* Use space-between */
    width: 100%;
    padding: 0 10px;
    /* Add horizontal padding */
}

.process-inputs input {
    flex-grow: 1;
    /* Allow inputs to grow */
    margin: 0 5px;
    /* Adjust margin */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #CBACF9;
    background-color: #05071C;

}

.process-inputs button {
    padding: 10px 20px;
    background-color: #CBACF9;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.error-message {
    color: red;
    text-align: center;
}

.fcfs-table {
    width: 100%;
    /* Ensure table fits within the container */
    max-width: 100vw;
    /* Prevent overflow */
    margin-top: 20px;
    border-collapse: collapse;
    background-color: #05071C;
    border: 2px solid #05071C;
    border-radius: 5px;
    color: black;
}

.fcfs-table th {
    background-color: #05071C;
    color: #CBACF9;
    padding: 10px;
    border: 1px solid #CBACF9;
}

.fcfs-table td {
    background-color: #05071C;
    color: white;
    padding: 10px;
    border: 1px solid #CBACF9;
    text-align: center;
}

* {
    padding: 0px;
    margin: 0px;

}

.gantt-chart1 {
    background-color: #333;
    padding: 30px;
    padding-left: 8%;
    /* margin: 25px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 80;
    /* Ensure it takes full width */
}

.gantt-header {
    color: white;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    max-width: 500px;
    /* Optional max width */
    margin-bottom: 10px;
}

.gantt-time {
    margin-left: 20px;
    color: #CBACF9;
    font-weight: bold;
}

.gantt-processes1 {
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    /* Ensure it takes full width */
    /* max-width: 500px; */
    /* Optional max width */
}

.gantt-entry1 {
    margin: 10px;
    color: white;
    /* margin-bottom: 10px; */
    border: 1px solid #CBACF9;
    padding: 8px;
    background-color: #333;
    border-radius: 5px;
    text-align: center;
    justify-items: center;
}