/* Overall Home Styles */
.home {
    background-color: #05071C; 
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto; 

}

/* Card Styles */
.custom-card {
    border: 2px solid #CBACF9; 
    border-radius: 15px; 
    background-color: #05071C; 
    color: white;
    padding: 20px;
    height: 300px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    display: flex; 
    flex-direction: column;
    justify-content: space-between; 
    position: relative; 
}

/* Card hover effect */
.custom-card:hover {
    transform: scale(1.05);
}
/* Title Styles */
.custom-title {
    color: #CBACF9; 
    font-size: 1.5em; 
    margin-bottom: 10px; 
}

/* Description Styles */
.card-description {
    color: white;
    line-height: 1.5; 
    overflow: hidden;
    flex-grow: 1; 
    margin-bottom: 10px;
}

/* Styles for the heading and description */
h1 {
    color: #CBACF9;
    font-size: 2.5em; 
    margin-bottom: 20px; 
    background: linear-gradient(to bottom, #CBACF9, #A29BFE); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    text-align: center;
    font-weight: bold; 
}

/* Paragraph Styles */
p {
    color: #A3BFFA;
    font-size: 1.2em; 
    margin-bottom: 25px; 
    line-height: 1.7;
    max-width: 800px; 
    margin-left: auto;
    margin-right: auto; 
    text-align: center; 
    opacity: 0.85;
}

/* Arrow Styles */
.arrow-svg {
    width: 24px; 
    height: 24px; 
    fill: #CBACF9; 
    position: absolute; 
    top: 35px; 
    right: 26px; 
    transform: rotate(270deg); 
}
