.navbar-links {
    list-style: none;
    display: flex;
}

.navbar-links li {
    margin: 0 15px;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
}

.navbar-links a:hover {
    text-decoration: underline;
}

/* src/components/Navbar.css */
.navbar {

    top: 0;
    width: 100vw;
    z-index: 1000;
    background-color: #05071C; /* Ensure the navbar background is solid */
    padding: 10px 20px;
    border-bottom: 2px solid #CBACF9; /* Optional: Add a border for better separation */
}