.navbar-links {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    list-style: none;
}

ul {
    padding: 0px;
    margin: 0px;
}

.navbar-links li {
    margin: 15px;
    padding: 0px;
}

.navbar-links a {
    padding: 10px;
    color: #000;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.navbar-links a:hover {
    /* text-decoration: underline; */
    border: 2px solid black;
    border-radius: 50px;
    transition: .4s;
}

/* src/components/Navbar.css */
.navbar {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* top: 0; */
    width: 100vw;
    z-index: 1000;
    background-color: #CBACF9;
    border-bottom: 2px solid #CBACF9;
}

.navbar:hover {
    transition: box-shadow 0.15s ease-in-out;
    cursor: pointer;
    box-shadow: 0px 5px 15px #a59eb0;
}