body {
  margin: 0;
  padding: 0;
  background-color: #05071C; /* Keep the custom background color */
  height: 100vh;
  width: 150vw;
  
}

.App {
  text-align: center;
  background-color: #05071C;
  min-height: 100vh; /* Full height */
  display: flex;
  flex-direction: column;
}

.navbar {
  flex-shrink: 0;
}